{{header-tabs isPrimary=true}}
<div class="custom-background-add">
  <div class="layout-row layout-padding layout-align-center flex">
    <div class="flex-70">
    {{#paper-form onSubmit=(action "addEmployee") as |form|}}
      <div class="layout-column flex-40">
        <div class="layout-padding">
          <div class="layout-column flex">
            <div class="layout-row flex">
              <div class="layout-column flex">
                {{form.input label="First Name" value=employee.firstName  primary=true onChange=(action (mut employee.firstName)) required=true maxlength=20}}
              </div>
              <div class="layout-column flex">
                {{form.input label="Middle Name" value=employee.middleName onChange=(action (mut employee.middleName)) maxlength=20}}
              </div>
              <div class="layout-column flex">
                {{form.input label="Last Name" value=employee.lastName onChange=(action (mut employee.lastName)) required=true maxlength=20}}
              </div>
            </div>

            <div class="layout-column flex">
              {{#paper-select options=roles label="Role" required=true selected=employee.role onChange=(action (mut employee.role)) as |role|}}
                {{role}}
              {{/paper-select}}
            </div>
          </div>

          <div class="layout-column flex">
            <!--Location-->
            <div class="layout-column flex">
              {{#paper-select options=locations label="Location" selected=employee.location onChange=(action (mut employee.location)) as |location| }}
                {{location}}
              {{/paper-select}}
            </div>
            <!--Start Date-->
            <div class="layout-column flex">
              {{form.input class="flex" label="Start date" type="date" value=employee.startDate onChange=(action (mut employee.startDate)) required=true}}
            </div>
          </div>
        </div>

        {{#paper-card}}
          <strong>{{paper-icon "account box"}}  Contact</strong>
          <div class="layout-column flex">
            <div class="layout-row flex">
              <div class="flex-35">
                <p>Email</p>
              </div>
              <div class="flex-65">
                {{form.input label="Email " type="email" value=employee.email onChange=(action (mut employee.email)) required=true}}
              </div>
            </div>
            <div class="layout-row flex">
              <div class="flex-35">
                <p>Mobile</p>
              </div>
              <div class="flex-65">
                {{form.input label="Phone Number " type="number" value=employee.phoneNumber required=true onChange=(action (mut employee.phoneNumber)) minlength=10 maxlength=10 }}
              </div>
            </div>

          </div>

          {{paper-divider}}
          <br>
          <strong>{{paper-icon "thumb up"}}  About</strong>
          <div class="layout-column flex">
            <br>
            Bio
            <div class="layout-column flex">
              {{form.input textarea=true block=true maxlength=300 passThru=(hash rows=3 maxRows=5)
                          value=employee.bio onChange=(action (mut employee.bio))}}
            </div>
            Skills
            <div class="layout-column flex">
              {{paper-chips
                readOnly=readOnly
                removeItem=(action "removeSkill")
                addItem=(action "addSkill")
                placeholder="Add skills"
                content=skills
                options=remainingSkills
                requireMatch=true}}
            </div>
          </div>
        {{/paper-card}}
      </div>

      <div class="layout-column flex-30">
      <div class="layout-padding">

        {{#paper-card}}
          <br>
          <div class="layout-column flex">
            <img src={{employee.image}} id="img-preview" alt="employee-img" class="image-rectangle">
            <input multiple="true" value="employee.image" onchange={{action "upload"}} accept="image/png,image/jpeg" type="file"/>
          </div>


          <div class="layout-column flex">
            <strong>Teams </strong>
            <br>
            <!--Department-->
            <div class="layout-column flex">
              {{#paper-select options=departments label="Department" selected=employee.department onChange=(action (mut employee.department)) as |department|}}
                {{department}}
              {{/paper-select}}
            </div>
            <!--Project-->
            <div class="layout-column flex">
              {{#paper-select options=projects label="Project" selected=employee.project onChange=(action (mut employee.project)) as |project| }}
                {{project}}
              {{/paper-select}}
            </div>
          </div>
          {{paper-divider}}

          <p>{{paper-icon "assessment"}}  Reports To</p>
          <div class="layout-column">
            {{#paper-autocomplete placeholder="Employee reports to .." options=names selected=employee.reportsTo
                                  onSelectionChange=(action (mut employee.reportsTo)) as |item term|}}
                <span>
                  {{paper-autocomplete-highlight searchText=term.searchText flags="i" label=item}}
                </span>
            {{else}}
              Whoops! could not find!
            {{/paper-autocomplete}}
          </div>
          <div class="layout-row ">
            <div class="layout-column flex">
              {{#form.submit-button raised=true primary=true}}Save{{/form.submit-button}}
            </div>
            <div class="layout-column flex">
              {{#paper-button href='../employees' raised=true warn=true}}Cancel{{/paper-button}}
            </div>
          </div>
        {{/paper-card}}
      </div>
      </div>
    {{/paper-form}}
    </div>
  </div>
</div>